body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
    margin: 0;
    padding-top: 40px;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #aaaaaa;
}

.container {
    width: 50%;
    max-width: 1200px;
    margin: 20px auto 0; /* Adjust the margin-top based on your header's height */
    margin-bottom: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    border-color: black;
    border-width: 0px;
    border-style: solid;
    box-shadow: 1px 1px 1px 1px #aaaaaa;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    margin-left: 20px;
}

.footer {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 1px 0px 1px 1px #aaaaaa;
}


.footer p {
    margin: 0;
    display: inline-block;
}

.footer-left {
    float: left;
    text-align: left;
}

.footer-right {
    float: right;
    text-align: right;
}

